<!-- Modal  change password-->
<div class="modal fade" id="change-pass" tabindex="-1" aria-labelledby="change-passLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginLabel">Đổi mật khẩu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body">
        <div class="mb-3">
          <label for="old-pass" class="form-label">Mật khẩu cũ</label>
          <input type="password" class="form-control" id="old-pass" placeholder="Mật khẩu củ">
        </div>
        <div class="mb-3">
          <label for="new-pass" class="form-label">Mật khẩu mới</label>
          <input type="password" class="form-control" id="new-pass" placeholder="Mật khẩu mới">
        </div>
        <div class="mb-3">
          <label for="con-pass" class="form-label">Xác nhận lại mật khẩu</label>
          <input type="password" class="form-control" id="con-pass" placeholder="Mật khẩu mới">
        </div>
        <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </form>
    </div>
  </div>
</div>