<!-- Modal  reset pass-->
<div class="card">
  <div class="card-header">
    <h5 class="modal-title" id="loginLabel">Quên mật khẩu</h5>
  </div>
  <form class="modal-body">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <button type="button" class="btn btn-primary">Đặt lại mật khẩu</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
  </form>
</div>