<div class="row">
  <div class="col-12 mt-2 mb-3 text-center">
    <div class="card mb-2" ng-hide="showQuiz">
      <div class="card-header d-flex justify-content-between align-items-center align-content-center">
        <figure class="figure title d-flex">
          <img class="figure-img logo-subject" src="../images/logos/{{logo}}" alt="">
          <figcaption class="figure-caption">{{name}}</figcaption>
        </figure>
      </div>

    </div>
    <div class="mt-3" ng-show="endQuiz">
      <h4 class="text-success">Điểm của bạn là {{totalScore}}</h4>
      <button type="button" class="btn btn-secondary btn-start" ng-click="reset()">Thử lại lần nữa</button>
    </div>


  </div>
  <!-- start quiz -->
  <div class="mt-2" ng-hide="endQuiz">
    <div class="mt-3 text-center" ng-hide="showQuiz">
      <h4>Bắt đầu làm quiz</h4>
      <button type="button" class="btn btn-secondary btn-start" id="js-btn-start" ng-click="start()">Bắt đầu làm bài</button>
    </div>
  </div>
  <div class="col-12" id="js-content-quiz" ng-show="showQuiz">

    <div class="watch text-center">
      <i class="far fa-stopwatch"></i>
      <span class="time" ng-show="time" id="time">{{strTime}}</span>
      <span class="time-out text-danger" ng-hide="time">Bạn đã hết thời gian làm bài!</span>
    </div>
    <div class="card mt-3">
      <div class="card-header d-flex justify-content-between align-items-center align-content-center">
        <figure class="figure title d-flex">
          <img class="figure-img logo-subject" src="../images/logos/{{logo}}" alt="">
          <figcaption class="figure-caption">{{name}}</figcaption>
        </figure>
        <!-- <span class="badge bg-secondary mr-0">7/{{questionNumber}}</span> -->
      </div>
      <!-- Load questions -->
      <div class="card-body" id="load-quiz">
        <div id="carouselQuestions" class="carousel carousel-dark carousel-fade" data-bs-wrap="false" data-bs-interval="false">
          <div class="carousel-indicators" id="js-indicators">
          </div>
          <div class="carousel-inner" id="js-inners">
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselQuestions" data-bs-slide="prev">
            Prev
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselQuestions" data-bs-slide="next">
            Next
          </button>
        </div>
      </div>


      <div class="card-footer">
        <div class="submit">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="check-submit" ng-true-value="true" ng-false-value="false" ng-change="checkFinish()" ng-model="checkSubmit">
            <label class="form-check-label" for="check-submit">
              Xác nhận hoàn thành bài quiz
            </label>
          </div>
          <button type="button" class="btn btn-secondary disabled" id="js-finish" ng-click="endTest()">Kết thúc</button>
        </div>
      </div>
    </div>
  </div>
</div>